general:
    primary: PythonDevTools
    active: 
        - morphforge
        - PythonDevTools

projects:
    - name: morphforge
      active: true
      rootdir: /home/michael/hw/morphforge/
      files:
        - glob: src/**/*.py
          tags:
            - src
            - .py
    
    - name: Paper2
      rootdir: /home/michael/hw/PaperSimulations2/
      files:
        - glob: "**/*.py"
          tags:
            - src
            - .py

    - name: PythonDevTools
      active: false
      rootdir: /home/michael/hw/python-devtools/
      files:
        - glob: src/**/*.py
          tags:
            - src
            - .py
