{
    "projects" : [
        
        { "name": "project1",
          "active":false,
          "rootdir":"/home/michael/hw/python-devtools/",
          "files": [
                {"glob":"src/**/*.py", "tags":["src"]}
            ]
        },
        { "name": "project2",
          "active":true,
          "rootdir":"/home/michael/hw/python-devtools/hdt/",
          "files": [
                {"glob":"src/**/*.hs", "tags":["src"]}
            ]

        },
        { "name": "project1B",
          "active":false,
          "rootdir":"/home/mike/dev/python-devtools/",
          "files": [
                {"glob":"src/**/*.py", "tags":["src",".py"]}
            ]
        },
        { "name": "project2B",
          "active":true,
          "rootdir":"/home/mike/dev/python-devtools/hdt/",
          "files": [
                {"glob":"src/**/*.hs", "tags":["src",".hs"]}
            ]

        }
    ]
}
