<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}default.css">
<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.9.0.custom.js"></script>

</head>


<body>




<div class="mainouter">
    
    
    <div class='targetselectorpane'>
        <h1>Target Profiles</h1>
        <ul class='targetlist'>
            <li class='active'>morphforge</li>
            <li class='inactive'>signalanalysis</li>
            <li>morphforge</li>
        </ul>    
    </div>
    
    
    
    
    <div class='mainpane'>
        <div class='header'>
            <div class='pdtlogo'><span>PDT</span></div>
            
            <div class='actionbar'>
            
                <div class='actionbartop'>
                    <ul>
                        <li>Grin</li>
                        <li>Lint</li>
                        <li>Refactor</li>
                    </ul>
                </div>
                
                
                <div class='actionbarbottom'>
                    <ul>
                        <li>Action1</li>
                        <li>Action2</li>
                        <li>Action3</li>
                    </ul>
                </div>
            </div>
        </div>
    
    
    
        <div class='action'>
                <h1>Grin</h1>
                
                <div class='grinform'>
                   <form>
                       <div>
                        <input type="text" name="search_string" class="ac_input"/>
                        </div>
                        
                        <div>
                            <ul>
                            <li> 
                                <input type="radio" name="search_what" value="All Files">All files</input>
                            </li>
                            <li> <input type="radio" name="search_what" value="Python Files">Python files</input></li>
                            </ul>
                        </div>
                        
                        
                        
                    </form>
                </div>
                
            <h1>Results</h1>
            
            
            <h1>All Files</h1>
            {% for filename in allfiles %}
            {{ filename.full_filename }}
            {% endfor %}
            
        </div>
    </div>
</div>

<div class="fsmonitor">
    <div class="topline"><span class='heading'>FS Monitor:</span> </div>
</div>

<div class="pymonitor">
    <div class="topline"><span class='heading'>PyMonitor:</span> </div>
</div>



</body>
